:root {
  --background: #002B31;
  --foreground: #171717;
  --cwcolor: #002B31;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
     --background: #0a0a0a;
    --foreground: #ededed; 
  }
}
*/

@font-face {
  font-family: BebasNeue;
  src: url(../public/fonts/Bebas_Neue/BebasNeue-Regular.ttf),
  format(truetype);
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body.preload {
  visibility: hidden;
}

body {
  visibility: visible;
  color: var(--cwcolor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0e0e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.css-nyu7l0-pathFill {
  fill: var(--cwcolor);
}