:root {
  --background: #002B31;
  --foreground: #171717;
  --cwcolor: #003a42;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
     --background: #0a0a0a;
    --foreground: #ededed; 
  }
}
*/

@media print {
  .page-break {
    page-break-before: always;
  }

  .no-page-break {
    page-break-inside: avoid;
  }
}

html,
body {
  max-width: 100vw;

}

body.preload {
  visibility: hidden;
}

body {
  visibility: visible;
  color: var(--cwcolor);
  background: var(--background);
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0e0e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.css-nyu7l0-pathFill {
  fill: var(--cwcolor);
}